html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchText {
  display: block;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
